
.btn {
	font-weight: 700;
	font-size: medium;
	line-height: 16px;
    padding: 10px 25px;
    border-radius: 50px;
	cursor: pointer;
	transition: 0.3s;
}

.btn--primary {
    border: 2px solid var(--qb-c-black);
    background-color: var(--qb-c-pink-primary);
	width: 100%;
}

.btn--primary:hover {
	border: 2px solid var(--qb-c-pink-secondary);
	background-color: var(--qb-c-gray-primary);
	color: var(--qb-c-pink-secondary);
}

.btn--secondary {
	border: 2px solid var(--qb-c-pink-secondary);
    background-color: var(--qb-c-gray-primary);
	color: var(--qb-c-pink-secondary);
}

.btn--secondary:hover {
	border: 2px solid var(--qb-c-pink-primary);
	color: var(--qb-c-pink-primary);
	background-color: var(--qb-c-black);
}


.btn--tertiary {
	border: 2px solid var(--qb-c-pink-primary);
	color: var(--qb-c-pink-primary);
	background-color: var(--qb-c-black);
}

.btn--link {
	display: block;
	text-align: center;
	margin: 40px auto;
	color: var(--qb-c-black);
	text-decoration: underline;
}

.btn--link:hover {
	color: var(--qb-c-pink-secondary);
}

.btn--search {
	
}