/** @format */

.filter.filter-calendar {
  border: 2px solid var(--qb-c-pink-primary);
  width: 85vw;
  padding: 15px;
}

.calendar-container {
  position: relative;
}

.calendar-wrapper {
  border: 2px solid var(--qb-c-pink-primary);
  display: none;
  position: absolute;
  top: 71px;
  left: 0;
  box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.3);
  background-color: var(--qb-c-white);
  width: 85vw;
}

.filter.filter-calendar:after {
  content: "";
  background: url("../images/icons/icon-calendar.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 10px;
}

.calendar-arrows {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.calendar td.active {
  content: "";
  background-color: var(--qb-c-pink-primary);
  width: 25px;
  height: 25px;
  display: block;
  border-radius: 50px;
  background-position: center;
  padding: 3px;
}

#showCalendar:checked ~ .calendar-wrapper {
  display: block;
}

#showCalendar {
  opacity: 0;
  z-index: -1;
}

.custom-checkbox-label {
  cursor: pointer;
  display: inline-block;
}

table.calendar {
  width: 100%;
}

.calendar thead tr {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.calendar tbody tr {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (min-width: 375px) {
  #showCalendar:checked ~ .calendar-wrapper {
    width: 320px;
  }
}

@media (min-width: 575px) and (max-width: 768px){
    .calendar-container, .filter.filter-calendar{
        width: 70vw;
    }
}

@media (min-width: 768px) {
  .calendar-container {
    margin-left: 10px;
  }

  .filter.filter-calendar {
    width: 320px;
  }

  .calendar-wrapper {
    border: 2px solid var(--qb-c-pink-primary);
    display: none;
    position: absolute;
    top: 71px;
    left: 0;
    box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--qb-c-white);
    width: 85vw;
  }
}
