/**
 * CARDS BOOKS
 *
 * @format
 */

section.cards-books-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

article.card-books {
  width: 130px;
  position: relative;
}

article.card-books:before {
  content: "";
  background-color: var(--qb-c-gray-primary);
  background-image: url('../images/icons/heart-icon.svg');
  background-repeat: no-repeat;  
  background-position: center;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  border-radius: 50px;
  border: 1px solid var(--qb-c-black);
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

article.card-books:hover:before {
  opacity: 1;
  transform: scale(1);
  cursor: pointer;
}

article.card-books img {
  width: 100%;
}

article.card-books h3,
article.card-books p {
  font-size: small;
  margin: 10px 0;
}

article.card-books h4.precio {
  font-size: medium;
  font-weight: 700;
}

article.card-books button {
  margin-top: 15px;
}

.card-books.card-suggestions {
  text-align: center;
}

/* CARDS DEALS - OFERTAS Y PROMOCIONES */

.cards-deals-wrapper {
  display: flex;
  flex-direction: column;
}

.cards-deals-wrapper article {
  position: relative;
}

.text-over-image {
  width: 100%;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.cards-deals-wrapper article p {
  text-align: center;
  color: var(--qb-c-white);
  font-size: large;
  font-weight: 700;
}

.text-over-image.text-deal {
  text-align: center;
}

span.max-deal {
  font-size: xx-large;
}

.cards-deals-wrapper article img {
  width: 100%;
}

/* CARDS EVENTS HOME - EVENTOS */
.cards-events-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards-events-wrapper article {
  display: flex;
  justify-content: center;
  border: 2px solid var(--qb-c-pink-primary);
  background: var(--qb-c-gray-primary);
}

.cards-events-wrapper article img {
  width: 50%;
}

.cards-events-wrapper article .text-events {
  width: 50%;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.cards-events-wrapper article .text-events h3 {
  color: var(--qb-c-pink-secondary);
}

.cards-events-wrapper .btn--link {
  margin: 0 auto;
}

@media (min-width: 575px) {
  /* CARDS BOOKS - NOVEDADES Y LOS MÁS VENDIDOS */

  section.cards-books-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  article.card-books h3,
  article.card-books p {
    font-size: large;
  }

  article.card-books h4.precio,
  article.card-books h4.rating {
    font-size: x-large;
    font-weight: 800;
  }

  article.card-books h4.rating:before {
    content: "";
    background: url("../images/icons/star-icon.svg");
    width: 25px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    background-repeat: no-repeat;
  }

  /* CARDS DEALS - OFERTAS Y PROMOCIONES */
  .cards-deals-wrapper article p {
    font-size: large;
  }

  /* CARDS EVENTS - EVENTOS */
}

@media (min-width: 768px) {
  /* CARDS BOOKS - NOVEDADES Y LOS MÁS VENDIDOS */

  article.card-books {
    width: 210px;
  }

  /* CARDS DEALS - OFERTAS Y PROMOCIONES */

  .cards-deals-wrapper {
    flex-direction: row;
  }

  .cards-deals-wrapper article:first-child {
    margin-right: 20px;
  }

  .cards-deals-wrapper article:nth-child(2) {
    margin-left: 20px;
  }

  .cards-deals-wrapper article img {
    transition: filter 0.3s ease-in-out;
  }

  .cards-deals-wrapper article a:hover img {
    filter: opacity(50%);
  }

  .cards-deals-wrapper article a:hover .text-deal {
    color: var(--qb-c-black);
  }

  .cards-deals-wrapper article p {
    font-size: medium;
  }

  /* CARDS EVENTS */
  .cards-events-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .cards-events-wrapper article {
    width: 50vw;
  }
  .cards-events-wrapper article:first-child {
    margin-right: 20px;
  }

  .cards-events-wrapper article:nth-child(2) {
    margin-left: 20px;
  }
}