/**
 * CARDS BOOKS - NOVEDADES Y LOS MÁS VENDIDOS
 *
 * @format
 */

section.cards-books-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

article.card-books {
  width: 130px;
}

article.card-books img {
  width: 100%;
}

article.card-books h3,
article.card-books p {
  font-size: small;
  margin: 10px 0;
}

article.card-books h4.precio {
  font-size: medium;
  font-weight: 700;
}

article.card-books button {
  margin-top: 15px;
}

/* CARDS DEALS - OFERTAS Y PROMOCIONES */

.cards-deals-wrapper {
  display: flex;
  flex-direction: column;
}

.cards-deals-wrapper article {
  position: relative;
}

.text-over-image {
  width: 100%;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.cards-deals-wrapper article p {
  text-align: center;
  color: var(--qb-c-white);
  font-size: large;
  font-weight: 700;
}

.text-over-image.text-deal {
  text-align: center; /* Center the text within the div */
}

span.max-deal {
  font-size: xx-large;
}

.cards-deals-wrapper article img {
  width: 100%;
}

/* CARDS EVENTS - EVENTOS */

@media (min-width: 575px) {
  /* CARDS BOOKS - NOVEDADES Y LOS MÁS VENDIDOS */

  section.cards-books-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  article.card-books {
    width: 210px;
  }

  article.card-books h3,
  article.card-books p {
    font-size: large;
  }

  article.card-books h4.precio {
    font-size: x-large;
    font-weight: 700;
  }

  /* CARDS DEALS - OFERTAS Y PROMOCIONES */
  .cards-deals-wrapper article p {
    font-size: large;
  }

  /* CARDS EVENTS - EVENTOS */
}

@media (min-width: 768px) {
  /* CARDS DEALS - OFERTAS Y PROMOCIONES */

  .cards-deals-wrapper {
    flex-direction: row;
  }

  .cards-deals-wrapper article:first-child {
    margin-right: 20px;
  }

  .cards-deals-wrapper article:nth-child(2) {
    margin-left: 20px;
  }

  .cards-deals-wrapper article img {
    transition: filter 0.3s ease-in-out;
  }

  .cards-deals-wrapper article a:hover img {
    filter: opacity(50%);
  }

  .cards-deals-wrapper article a:hover .text-deal {
    color: var(--qb-c-black);
  }

  .cards-deals-wrapper article p {
    font-size: medium;
  }
}


@media (min-width: 325px) and (max-width: 575px) {
  .cards-deals-wrapper article p {
    font-size: large;
  }
  .text-over-image {
    top: 20%;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  .cards-deals-wrapper article p {
    font-size: large;
  }
  .text-over-image {
    top: 25%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .cards-deals-wrapper article p {
    font-size: x-large;
  }
  .text-over-image {
    top: 15%;
  }
}

@media (min-width: 1024px) {
  .cards-deals-wrapper article p {
    font-size: xx-large;
  }

  .text-over-image {
    top: 25%;
  }
}