#contact-form h2,
#contact-form p {
  text-align: center;
}

#contact-form p {
  margin-top: 0.5em;
  margin-bottom: 2em;
}

#contact-form label {
  font-size: small;
  font-weight: 700;
}

span.mandatory-field {
  color: var(--qb-c-pink-darker);
}

#contact-form input:not([type="submit"]),
#contact-form textarea {
  background-color: var(--qb-c-gray-primary);
  border: 1px solid var(--qb-c-pink-primary);
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#contact-form textarea {
  height: 197px;
}

.form-map {
  display: flex;
  flex-direction: column;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (min-width: 768px) {
  #contact-form h2,
  #contact-form p {
    text-align: left;
  }

  #contact-form input[type="submit"]{
    width: 150px;
  }
}
