/* Iconos */

.qb-icon {
	display: flex;
	align-items: center;
	justify-content: center;
    width: 30px;
    height: 30px;
}

.footer-social .qb-icon {
    width: 40px;
    height: 40px;
}

.qb-icon-float-left {
    float: left;
    clear: left;
}

.qb-icon-top {
    position: fixed;
    bottom: calc(10vh + 20px);
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: var(--qb-c-pink-primary) !important;
    opacity: 0.5;
}

.qb-icon-top:hover {
    opacity: 1;
}

.qb-icon--hamburger {
    background: no-repeat center/80% url(../images/icons/menu-icon.svg);
}

.qb-icon--close {
    background: no-repeat center/80%  url(../images/icons/close-icon.svg);
}

.qb-icon--profile {
    background: no-repeat center/80%  url(../images/icons/profile-icon.svg);
}

.qb-icon--cart {
    background: no-repeat center/80%  url(../images/icons/cart-icon.svg);
}

.qb-icon--search {
    background: no-repeat center/80%  url(../images/icons/search-icon.svg);
}

.qb-icon--search-w {
    background: no-repeat center/80%  url(../images/icons/search-icon-w.svg);
}

.qb-icon--star {
    background: no-repeat center/80%  url(../images/icons/star-icon.svg);
}

.qb-icon--heart {
    background: no-repeat center/80%  url(../images/icons/heart-icon.svg);
}

.qb-icon--arrow-top {
    background: no-repeat center/80%  url(../images/icons/arrow-top-icon.svg);
}

.qb-icon--facebook {
    background: no-repeat center  url(../images/icons/facebook-icon.svg);
}

.qb-icon--twitter {
    background: no-repeat center url(../images/icons/twitter-icon.svg);
}

.qb-icon--instagram {
    background: no-repeat center  url(../images/icons/instagram-icon.svg);
}

.qb-icon--whatsapp {
    background: no-repeat center url(../images/icons/whatsapp-icon.svg);
}