div.img-text {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

div.img-text p {
  text-align: center;
  margin: 30px auto;
  font-size: medium;
}

@media (min-width: 768px) {
  div.img-text {
    flex-direction: row;
    align-items: center;
  }

  div.img-text img {
    width: 50%;
  }

  div.img-text p {
    padding: 0 2em;
  }

  div.img-text:nth-child(odd) {
    margin: 3em 0;
    flex-direction: row-reverse;
  }
}
