#map-wrapper {
  margin-top: 60px;
}

#map-wrapper h3,
#map-wrapper p {
  text-align: center;
}

#map-wrapper p {
  margin: 15px auto 30px auto;
}

#map-wrapper iframe.map {
  width: 100%;
  height: 500px;
}

#map-wrapper iframe.map {
    border-style: none;
    border: 2px solid var(--qb-c-pink-primary);
  }

@media (min-width: 768px) {
  .form-map {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .form-map div {
    width: 50%;
    margin: 0 auto;
  }

  #map-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 430px;
  }

  .form-map div:first-child {
    width: 50%;
    margin-right: 30px;
  }

  #map-wrapper iframe.map {
    width: 430px;
    height: 500px;
  }
}
